<%= search_form_for @search do |f| %>
  <div class ="field">
    <div>
      <% volunteer_one_array = Shift.all.collect{|shift| shift[:volunteer]} %>
      <% volunteer_two_array = Shift.all.collect{|shift| shift[:volunteer_two]} %>
      <% volunteer_array = volunteer_one_array.concat(volunteer_two_array).uniq %>
      <% volunteer_array.delete("") %>
      <%= f.label :volnteer_or_volunteer_two_cont, "Volunteer:"%>
      <%= f.select :volunteer_or_volunteer_two_cont, volunteer_array, include_blank: "All"%>
      <br />
      <%= f.label :location_cont, "Location:" %>
      <%= f.select :location_cont, Shift.all.collect{|shift| shift[:location]}.uniq, include_blank: "All" %>
    </div>
  </div>
  <div class="actions"><%= f.submit "Filter Shifts", :class => "btn btn-primary" %></div>
<% end %>
