<%= form_with(model: @shift, local: true) do |form| %>

  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@shift.errors.count, "error") %> prohibited
        this shift from being saved:
      </h2>
      <ul>
        <% @shift.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h5>
    <%= form.label :volunteer %>
  </h5>
  <p>
    <%= form.text_field :volunteer %>
  </p>

  <h5>
    <%= form.label :location %>
  </h5>
  <p>
    <%= form.text_field :location %>
  </p>

  <h5>
    <%= form.label :date %>
  </h5>
  <p>
    <%= form.date_select :date %>
  </p>

  <h5>
    <%= form.label :start %>
  </h5>
  <p>
    <%= form.time_select :start, {ampm: true, minute_step: 15} %>
  </p>

  <h5>
    <%= form.label :end %>
  </h5>
  <p>
    <%= form.time_select :end, {ampm: true, minute_step: 15} %>
  </p>

  <p>
    <%= form.radio_button(:status, "available")  %>
    <%= form.label "Available"%>
    <%= form.radio_button(:status, "requested") %>
    <%= form.label "Requested"%>
    <%= form.radio_button(:status, "assigned") %>
    <%= form.label "Assigned"%>
  </p>

  <%= form.hidden_field :congregation, :value => current_user[:congregation]%>

  <% if @shift.request_by.length > 0 %>
    <h5>Requested By:</h5>
    <% @shift.request_by.each do |name| %>
      <p><%= name %></p>
    <% end %>
  <% elsif @shift.request_by.length == 0 && @shift.status == "available" %>
    <p>Nobody has requested this shift yet.</p>
  <% end %>


  <% cong = current_user[:congregation]%>
  <%= form.hidden_field :congregation, :value => cong %>

  <p>
    <%= form.submit :class => "btn btn-success"%>
  </p>
  <% end %>
