<%= form_with(model: @shift, local: true) do |form| %>

  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@shift.errors.count, "error") %> prohibited
        this shift from being saved:
      </h2>
      <ul>
        <% @shift.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h5>
    <%= form.label :volunteer %>
  </h5>
  <p>
    <%= @shift[:volunteer] %>
  </p>

  <h5>
    <%= form.label :location %>
  </h5>
  <p>
    <%= @shift[:location] %>
  </p>

  <h5>
    <%= form.label :date %>
  </h5>
  <p>
    <%= @shift[:date].strftime("%m/%d/%Y") %>
  </p>

  <h5>
    <%= form.label :start %>
  </h5>
  <p>
    <%= @shift[:start].strftime("%l:%M %P") %>
  </p>

  <h5>
    <%= form.label :end %>
  </h5>
  <p>
    <%= @shift[:end].strftime("%l:%M %P") %>
  </p>

  <% if @shift.request_by.length > 0 %>
    <h5>Requested By:</h5>
    <% @shift.request_by.each do |name| %>
      <p><%= name %></p>
    <% end %>
  <% elsif @shift.request_by.length == 0 && @shift.status == "available" %>
    <p>Nobody has requested this shift yet.</p>
  <% end %>

  <%= form.hidden_field :status, :value => "requested"%>

  <p>
    <%= form.submit "Here I am! Send me!", :class => "btn btn-success" %>
  </p>
  <% end %>
