<%= render 'shared/navbar' %>

<div class="container">
  <h1>Shifts</h1>
  <%= search_form_for @search do |f| %>
    <div class ="field">
      <h4>Filter by:</h4>
      <%= f.label :volunteer_cont, "Volunteer:" %>
      <%= f.select :volunteer_cont, Shift.all.collect{|shift| shift[:volunteer]}.map{|i| i.capitalize}.uniq, include_blank: "All" %>
      <%= f.label :location_cont, "Location:" %>
      <%= f.select :location_cont, Shift.all.collect{|shift| shift[:location]}.map{|i| i.capitalize}.uniq, include_blank: "All" %>
    </div>
    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
  <table class="table table-hover table-striped table-responsive-xl">
    <tr>
      <th><%= sort_link @search, :volunteer, "Volunteer" %></th>
      <th><%= sort_link @search, :location, "Location" %></th>
      <th><%= sort_link @search, :date, "Date" %></th>
      <th>Start Time</th>
      <th>End Time</th>
      <th><%= sort_link @search, :status, "Status" %></th>
      <th colspan = "3"></th>
    </tr>

    <% @shifts.each do |shift| %>
    <% if shift[:congregation] == current_user[:congregation] %>
      <tr>
        <td><%= shift.volunteer %></td>
        <td><%= shift.location %></td>
        <td><%= shift.date.strftime("%A %m/%d/%Y") %></td>
        <td><%= shift.start.strftime("%l:%M %P") %></td>
        <td><%= shift.end.strftime("%l:%M %P") %></td>
        <td><%= shift.status.capitalize %></td>
        <td><%= link_to 'View', shift_path(shift) %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
        <% else %>
          <% if shift.volunteer == "" %>
            <td><%= link_to 'Request', edit_shift_path(shift) %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
        <% if policy(shift).destroy? %>
          <td><%= link_to 'Delete', shift_path(shift),
                                    method: :delete,
                                    data: { confirm: 'Are you sure?' },
                                    :id => "delete"%></td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
  </table>

  <%= will_paginate @shifts, :class => "apple_pagination"%>

  <% if policy(@shifts).new? %>
    <%= link_to 'Add Shift', new_shift_path %>
  <% end %>
</div>
