<%= render 'shared/navbar' %>

<div class = "container">
  <h1>View Shift</h1>

  <p>
    <h5>Volunteer 1:</h5>
    <%= @shift.volunteer %>
  </p>

  <p>
    <h5>Volunteer 2:</h5>
    <%= @shift.volunteer_two %>
  </p>

  <p>
    <h5>Location:</h5>
    <%= @shift.location %>
  </p>

  <p>
    <h5>Date:</h5>
    <%= @shift.date.strftime("%m/%d/%Y") %>
  </p>

  <p>
    <h5>Start Time:</h5>
    <%= @shift.start.strftime("%l:%M %P") %>
  </p>

  <p>
    <h5>End Time:</h5>
    <%= @shift.end.strftime("%l:%M %P") %>
  </p>

  <p>
    <h5>Status:</h5>
    <%= @shift.status.capitalize %>
  </p>

  <% if @shift.request_by.length > 0 %>
    <h5>Requested By:</h5>
    <% @shift.request_by.each do |name| %>
      <div id="wrapper">
        <div>
          <%= name %>
        </div>
        <div>
        <% if current_user.admin? %>
          <%= form_with(model: @shift, local: true) do |form| %>
            <% if @shift[:volunteer] == "" || !@shift[:volunteer]  %>
              <%= form.hidden_field :volunteer, :value => name %>
              <%= form.hidden_field :volunteer_two, :value => @shift[:volunteer_two] %>
            <% elsif @shift[:volunteer_two] == "" || !@shift[:volunteer_two] %>
              <%= form.hidden_field :volunteer, :value => @shift[:volunteer] %>
              <%= form.hidden_field :volunteer_two, :value => name %>
            <% end %>
            <%= form.hidden_field :location, :value => @shift[:location]%>
            <%= form.hidden_field :date, :value => @shift[:date]%>
            <%= form.hidden_field :start, :value => @shift[:start]%>
            <%= form.hidden_field :end, :value => @shift[:end]%>
            <% if @shift[:volunteer] == "" || !@shift[:volunteer]  %>
              <%= form.hidden_field :status, :value => "requested"%>
            <% else %>
              <%= form.hidden_field :status, :value => "assigned"%>
            <% end %>
            <%= form.submit "Assign", :class => "btn btn-success" %>
          <% end %>
        <% end %>
        </div>
    <% end %>
  <% elsif @shift.request_by.length == 0 && @shift.status == "available" %>
    <p>Nobody has requested this shift yet.</p>
  <% end %>

  <br>

  <div id="wrapper">
    <div>
      <%= link_to 'View All Shifts', shifts_path, :class => "btn btn-outline-info" %>
    </div>

    <div>
      <% if !current_user.admin? && @shift[:status] != "assigned"%>
        <% if !@shift[:request_by].include?(current_user[:name]) %>
          <%= link_to 'Request This Shift', edit_shift_path(@shift), :class => "btn btn-outline-success" %>
        <% end %>
      <% end %>
    </div>

    <% if policy(@shift).destroy? %>
      <div>
        <%= link_to 'Edit This Shift', edit_shift_path(@shift), :class => "btn btn-outline-info" %>
      </div>
      <div>
        <%= link_to 'Delete This Shift', shift_path(@shift),
            method: :delete,
            data: { confirm: 'Are you sure?' },
            :class => "btn btn-outline-danger"%>
      </div>
    <% end %>
  </div>
</div>
