<%= render 'shared/navbar' %>

<div class = "container">
  <p>
    <strong>Volunteer:</strong>
    <%= @shift.volunteer %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @shift.location %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @shift.date.strftime("%m/%d/%Y") %>
  </p>

  <p>
    <strong>Start Time:</strong>
    <%= @shift.start.strftime("%l:%M %P") %>
  </p>

  <p>
    <strong>End Time:</strong>
    <%= @shift.end.strftime("%l:%M %P") %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @shift.status.capitalize %>
  </p>

  <% if @shift.request_by.length > 0 %>
    <p>Requested By:</p>
    <% @shift.request_by.each do |name| %>
      <p><%= name %></p>
    <% end %>
  <% elsif @shift.request_by.length == 0 && @shift.status == "available" %>
    <p>Nobody has requested this shift yet.</p>
  <% end %>


  <% if policy(@shift).destroy? %>
    <%= link_to 'Edit', edit_shift_path(@shift) %>
    <br>
    <br>
      <%= link_to 'Delete', shift_path(@shift),
            method: :delete,
            data: { confirm: 'Are you sure?' },
            :id => "delete"%>
  <% end %>

  <br>
  <br>

  <%= link_to 'All Shifts', shifts_path %>
</div>
