<%= render 'shared/navbar' %>

<div class = "container">
  <p>
    <strong>Volunteer:</strong>
    <%= @shift.volunteer %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @shift.location %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @shift.date.strftime("%m/%d/%Y") %>
  </p>

  <p>
    <strong>Start Time:</strong>
    <%= @shift.start.strftime("%l:%M %P") %>
  </p>

  <p>
    <strong>End Time:</strong>
    <%= @shift.end.strftime("%l:%M %P") %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @shift.status %>
  </p>

  <% if policy(@shift).destroy? %>
    <%= link_to 'Delete', shift_path(@shift),
          method: :delete,
          data: { confirm: 'Are you sure?' }%>
  <% end %>

  <br>

  <%= link_to 'Back', shifts_path %>
</div>
